<footer>
<nav id="footer-two">
    <div class="container-fluid border-top">
      <h3>Novotel Saigon Centre</h3>
      <br>
      <p>167 Hai Ba Trung, District 3, Ho Chi Minh City, Vietnam        , 700000 Ho Chi Minh City        , Vietnam<br>Phone: <strong class="ltr">(+84)28/38224866</strong> - Fax:
          <strong class="ltr">(+84)28/38221698</strong></p>
            <div id="copyright">
        <div class="w-container">
                    <p>© 2023 Novotel&nbsp;|&nbsp;
                            <a class="" href="https://www.novotel-saigon-centre.com/sitemap/">Sitemap</a>
                &nbsp;|&nbsp;                                <a class="" href="https://www.novotel-saigon-centre.com/official-site/contact-us/">Contact Us</a>
                &nbsp;|&nbsp;                                <a class="" href="https://careers.accor.com/home.aspx" rel="external" target="_blank">Careers</a>
                &nbsp;|&nbsp;                                <a class="" href="https://www.novotel-saigon-centre.com/legal-info/">Legal Info</a>
                &nbsp;|&nbsp;                                <a class="footerhighlight" href="https://www.novotel-saigon-centre.com/cookie-policy/">Cookie Policy</a>
                                &nbsp;|&nbsp;<a rel="nofollow" target="_blank" href="https://www.d-edge.com/?utm_source=Accor_hotel_website&amp;utm_medium=link&amp;utm_campaign=credits">Website Design</a>          </p>
        </div>
      </div>
    </div>
      </nav>
</footer>