 <nav class="navbar navbar-expand-sm bg-white border-bottom position-sticky sticky-top text-uppercase navbarHeader">
    <div class="container">
        <a class="navbar-brand logo" style="color: #9f7f54" href="/">Novotel Hotel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/room">Room & Suite</a>
                </li>
            </ul>

                <div class="nav-item bookButton">
                    <a class="nav-link text-white" href="/room">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</nav>
